<div class="container">

  <center><h1>Shorten your long ASS URL!</h1>

 <a href="http://www.sherv.net/"><img alt="Big Butt" width=180 height=173 src="http://www.sherv.net/cm/emoticons/mooning/big-butt.gif"></a>

 <form action="/urls" method="post">
  <p>Enter your URL to be shortened: <input type="text" name="url[ori_url]"></p>
<br>
  <input type="submit" value="Submit">
</form>
</center>

</div>